
    <div class="top">
        <div class="icons-container">
            <div class="logo-container">
                <div class="logo">FV</div>
            </div>
            <div class="logo-container-white">
                <span id="home" class="material-symbols-outlined">home</span>
            </div>
            <div class="logo-container-white">
                <span id="shopping-icon" class="material-symbols-outlined">shopping_cart</span>
            </div>
            <div class="logo-container-white">
                <span id="gallery-icon" class="material-symbols-outlined">image</span>
            </div>
            <div class="logo-container-white">
                <span id="chat-icon" class="material-symbols-outlined">chat</span>
            </div>
            <div class="logo-container-white">
                <span id="contact-icon" class="material-symbols-outlined">contact_support</span>
            </div>
            <div class="logo-container-white">
                <span id="stars-icon" class="material-symbols-outlined">stars</span>
            </div>
        </div>
        <nav>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>
    </div>